%p
  %b Device:
  = @click.device_id
%p
  %b Device type:
  = @click.device_type

.buttons
  = link_to 'Edit', edit_click_path(@click), class: 'button is-primary'
  = link_to 'Back', clicks_path, class: 'button'
