- if notice or alert
  %section.section#flash{ 'data-controller': 'flash' }
    .container
      - if notice
        .notification.is-info= notice.html_safe
      - if alert
        .notification.is-danger= alert.html_safe
