%p
  %b Title:
  = @lesson.title
%p
  %b School class:
  = @lesson.school_class&.name

.buttons
  = link_to 'Edit', edit_lesson_path(@lesson), class: 'button is-primary'
  = link_to 'Back', lessons_path, class: 'button'
