# Rails and Ruby
*.rbc
capybara-*.html
*.rspec
/log
/tmp
/db/data
/public/system
/coverage/
/spec/tmp
*.orig
/rerun.txt
pickle-email-*.html
storage
.bundle
.ruby-version
.ruby-gemset
.rvmrc

# Environment normalization:
.bundle

# Let's maybe not put our git sources in here
.git
.gitignore

# dotenv
.env

# Rails master key (isn't available in balena cloud build either)
config/master.key

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

/.idea

# Docker configs
Dockerfile
docker-compose.yml
.dockerignore
# NOT Dockerfile.template (balena push build needs this)

# Various configs and assorted dotfiles
.DS_Store
.postcssrc.yml

# Codefresh CI
.codefresh.yml