# ruby
/public/
/tmp/
/vendor/
/db/schema.rb
/spec/tmp

# js
/node_modules/
/coverage/

# TODO Re-add these files when bugs are fixed
# https://github.com/prettier/plugin-ruby/issues/518
# https://github.com/prettier/plugin-ruby/issues/519
# https://github.com/prettier/plugin-ruby/issues/520
app/views/lesson_executions/show.html.haml
app/views/lesson_evaluations/show.html.haml
app/views/buttons/index.html.haml
