@import 'bulma/bulma';

.seating-plan {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  padding: 20px 0;

  // full height
  .card {
    height: 100%;
    display:flex;
    flex-direction: column;
  }
  .card-footer {
    margin-top: auto;
  }

  [draggable=true] {
    cursor: move; /* fallback if grab is not supported */
    cursor: grab;
  }

  &.seating-plan--editable {
    .seat--empty .card {
      background-color: $grey-lightest;
    }
  }
}

